In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
%matplotlib inline
from sklearn.utils import shuffle

C:\Users\Admin\Anaconda3\lib\site-packages\ipykernel\parentpoller.py:116: UserWarning: Parent poll failed.  If the frontend dies,
                the kernel may be left running.  Please let us know
                about your system (bitness, Python, etc.) at
                ipython-dev@scipy.org
  ipython-dev@scipy.org""")

In [2]:
data=pd.read_csv('d4.csv') ##reading data

In [3]:
data

    id    age  income  gender   status buys
0    1    <21    High    Male   Single   No
1    2    <21    High    Male  Married   No
2    3  21-35    High    Male   Single  Yes
3    4    >35  Medium    Male   Single  Yes
4    5    >35     Low  Female   Single  Yes
5    6    >35     Low  Female  Married   No
6    7  21-35     Low  Female  Married  Yes
7    8    <21  Medium    Male   Single   No
8    9    <21     Low  Female  Married  Yes
9   10    >35  Medium  Female   Single  Yes
10  11    <21  Medium  Female  Married  Yes
11  12  21-35  Medium    Male  Married  Yes
12  13  21-35    High  Female   Single  Yes
13  14    >35  Medium    Male  Married   No

In [4]:
le=LabelEncoder()             ##string to int 
data['age']=le.fit_transform(data['age'])

le=LabelEncoder()
data['income']=le.fit_transform(data['income'])

le=LabelEncoder()
data['gender']=le.fit_transform(data['gender'])

le=LabelEncoder()
data['status']=le.fit_transform(data['status'])

le=LabelEncoder()
data['buys']=le.fit_transform(data['buys'])

In [5]:
data

    id  age  income  gender  status  buys
0    1    1       0       1       1     0
1    2    1       0       1       0     0
2    3    0       0       1       1     1
3    4    2       2       1       1     1
4    5    2       1       0       1     1
5    6    2       1       0       0     0
6    7    0       1       0       0     1
7    8    1       2       1       1     0
8    9    1       1       0       0     1
9   10    2       2       0       1     1
10  11    1       2       0       0     1
11  12    0       2       1       0     1
12  13    0       0       0       1     1
13  14    2       2       1       0     0

In [22]:
dis = data.iloc[:,:5]
dis

    id  age  income  gender  status
0    1    1       0       1       1
1    2    1       0       1       0
2    3    0       0       1       1
3    4    2       2       1       1
4    5    2       1       0       1
5    6    2       1       0       0
6    7    0       1       0       0
7    8    1       2       1       1
8    9    1       1       0       0
9   10    2       2       0       1
10  11    1       2       0       0
11  12    0       2       1       0
12  13    0       0       0       1
13  14    2       2       1       0

In [23]:
data1=np.array(data)
data1=shuffle(data1)        ##shuffle data

In [24]:
xtrain=data1[:10,0:5]
ytrain=data1[:10,5]
xtest=data1[10:,0:5]
ytest=data1[10:,5]
xtrain.shape,ytrain.shape,xtest.shape,ytest.shape

((10, 5), (10,), (4, 5), (4,))

In [25]:
from sklearn.tree import DecisionTreeClassifier

In [26]:
model=DecisionTreeClassifier()
model.fit(xtrain,ytrain)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [27]:
predicted=model.predict(xtest)

In [28]:
print(model.score(xtrain,ytrain))
print(model.score(xtest,ytest))

1.0
0.5

In [29]:
from sklearn.metrics import confusion_matrix
confusion_matrix(ytest,predicted)

array([[1, 0],
       [2, 1]], dtype=int64)

In [30]:
from sklearn.tree import export_graphviz
from IPython.display import Image

In [35]:
export_graphviz(model,out_file='tree.dot',feature_names=dis.columns,class_names=["No","Yes"])
from subprocess import check_call
check_call(["dot","-Tpng","tree.dot","-o","tree.png"])
Image("tree.png")

FileNotFoundError: [WinError 2] The system cannot find the file specified

In [33]:
from sklearn.metrics import classification_report
print(classification_report(ytest,predicted))

             precision    recall  f1-score   support

          0       0.33      1.00      0.50         1
          1       1.00      0.33      0.50         3

avg / total       0.83      0.50      0.50         4